ul,ol{
    list-style: none;
}

.heading-pri{
    color: #010101;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;

}

.heading-sec{
    font-size: 20px;
    color: #313841;
    font-weight: 400;
    margin-bottom: 20px;
}

